<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!--<Section Name="DefaultBrokers">
    <Parameter Name="meta-azure-service-broker" Value="http://104.45.224.242" />
  </Section>-->
</Settings>
