<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="CatalogServiceEndpoint" value="http://localhost:8088"/>
    <add key="Namespace" value="default"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <clear/>
        <add name="FancyConsoleTraceListener"
             type="sfcat.FancyConsoleTraceListener, sfcat" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
